.dialogs{
	display: grid;
	grid-template-columns: 2fr 10fr;
}
.dialogs_item{
	padding: 10px;
}
.dialog{

}
.active{
	color: gold;
}
.messages{
	padding: 10px;
	display: grid;
	gap:10px 0;
}
.message{
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	gap:0  10px;
    align-items: center;
}

.message__image{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.message__text{
}